*.exe
build/release/IWP-5.0-macOS-RC3/bin/InstantWP.app
iwp
ssh-term
IWPQEMUTelnet
IWPSSHCommand
iwpcli
IWPHostServ
*.qcow2
core/controlpanel/compiled
core/bin/InstantWP.app
core/platform/osx/qemu
build/release
core/platform/win/nircmd
core/platform/win/qemu
core/platform/win/sync/LICENSE.txt
core/platform/win/sync/sync.pid
core/platform/win/sync/WinSCP.com
core/platform/win/sync/WinSCP.ini
*.dll
core/platform/win/FSharp.Core.xml
core/platform/win/IWPQEMUTelnet.exe.config
core/platform/win/IWPQEMUTelnet.pdb
core/platform/win/IWPQEMUTelnet.XML
core/platform/win/IWPSSHCommand.exe.config
core/platform/win/IWPSSHCommand.pdb
core/platform/win/IWPSSHCommand.XML
core/platform/win/Rebex.Common.xml
core/platform/win/Rebex.Networking.xml
core/platform/win/Rebex.SshShell.xml
core/platform/win/Rebex.Telnet.xml
core/platform/win/Rebex.Terminal.xml
gui/InstantWP.app
iwpserver-1.1.qcow2.zip
iwpserver-2.0.qcow2.zip
core/vm/older-versions
core/controlpanel/IWPControlPanel.app
Pharo-dev.changes
Pharo-dev.image
Pharo.clean-image
PharoV50.sources
PharoDebug.log
InstantWP.changes
InstantWP.image
Pharo-prod.changes
Pharo-prod.image
core/controlpanel/InstantWP.app
core/controlpanel/distribute/lib/plt/InstantWP/exts/ert/r0/dh4096.pem
InstantWP.app
core/Start-InstantWP.app
core/vm/old/iwpserver-2.0.1.qcow2.old
working
Thumbs.db
*.bak
core/platform/win/kitty.ini
core/platform/win/Sessions/Default%20Settings
core/platform/win/SshHostKeys/ssh-ed25519@10022%3A127.0.0.1
core/platform/win-05-12-17/
*.xcodeproj


# Created by https://www.toptal.com/developers/gitignore/api/xcode,swift,cocoapods
# Edit at https://www.toptal.com/developers/gitignore?templates=xcode,swift,cocoapods

### CocoaPods ###
## CocoaPods GitIgnore Template

# CocoaPods - Only use to conserve bandwidth / Save time on Pushing
#           - Also handy if you have a large number of dependant pods
#           - AS PER https://guides.cocoapods.org/using/using-cocoapods.html NEVER IGNORE THE LOCK FILE
Pods/

### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
# Pods/
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/

### Xcode ###

## Xcode 8 and earlier

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/xcode,swift,cocoapods
